.amount-wrapper {
  width: 378px;
  height: 66px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  border: 1px solid #4c5055;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  border-right: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, #22272d),
    linear-gradient(to bottom, rgba(34, 39, 45, 0.3), rgba(34, 39, 45, 0.3)),
    linear-gradient(to top, rgba(34, 39, 45, 0.9), #4c5055);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 12px;

  &__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 34px;
    border-radius: 19px;
    border: solid 1px #4c5055;
    background-color: rgba(34, 39, 45, 0.5);
    width: calc(100% - 10px);
    &:first-child {
      margin-right: 5px;
    }
    &-title {
      font-size: 10px;
      letter-spacing: 0.4px;
      text-align: center;
      color: #fff;
      padding-top: 7px;
    }
    &-amount {
      font-size: 16px;
      letter-spacing: 0.4px;
      text-align: center;
      color: #e9c426;
      padding-bottom: 6px;
    }
  }
}

.vip {
  .amount-vip-wrapper {
    margin: -148px 4px 4px 0;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 0 -20px 40px 20px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to top, #635c4d, #f6e9b5);
    border-image-slice: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, #22272d), linear-gradient(to bottom, rgba(34, 39, 45, 0.9), rgba(34, 39, 45, 0.9)), linear-gradient(to top, #635c4d, #f6e9b5);
    background-origin: border-box;
    background-clip: content-box, content-box, border-box;
    z-index: 5;

    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
      border: 1px solid #ada483;
    }}

    .amount-wrapper {
      position: relative;
      margin-top: 150px;
      border: none;
      background: none;
      box-shadow: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;

      &__boxes {
        position: relative;

        &-title {
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          background-image: linear-gradient(to bottom, #fff, #8f9193);
          font-size: 10px;
          letter-spacing: 0.4px;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &-amount {
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          background-image: linear-gradient(to bottom, #e9c426, #736112);
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.4px;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
