.old-numbers {
  display: flex;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(34, 39, 45, 0.85);
  height: 24px;

  .old-number {
    width: calc(100% / 11);
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #FFF;
    line-height: 0em;

    &--current {
      border: solid 2px rgba(255, 255, 255, 0.5);
    }

    &--red {
      color: #e17e73;
    }

    &--green {
      color: #569c0b;
    }

  }
}

.vip {
  .old-numbers {
    .old-number {
      span {
        background-image: linear-gradient(to bottom, #fff, #8f9193);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1;
      }

      &--red {
        span {
          background-image: linear-gradient(to bottom, #e17e73, #7b423c);
        }
      }

      &--green {
        span {
          background-image: linear-gradient(to bottom, #72d875, #3c713e);
        }
      }

      &--current {
        overflow: hidden;
        border-style: solid;
        border-width: .5px;
        border-image-source: linear-gradient(to top, #635c4d, #e1ded3);
        border-image-slice: 1;
        background-color: rgba(26, 29, 33, 0.3);

        span {
          position: relative;

          border-style: solid;
          border-width: 0.5px;
          border-image-source: linear-gradient(to top, #8d794e, #e4d5a8);
          border-image-slice: 1;
          display: block;
          text-align: center;
          line-height: 1.4;
          width: calc(100% - 4px);
          height: 100%;
          margin: 0 auto;

          &:before, &:after {
            content: '';
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            border-style: solid;
            border-width: 0.5px;
            border-image-slice: 1;
            border-image-source: linear-gradient(to top, #8d794e, #e4d5a8);
            transform: rotate(45deg) translateY(-50%);
            background: rgba(34, 39, 45, 1);
          }

          &:before {
            left: -3px;
            border-left-width: 0;
            border-bottom-width: 0;
          }

          &:after {
            right: 0;
            border-right-width: 0;
            border-top-width: 0;
          }
        }
      }
    }
  }
}
