@font-face {
  font-family: 'CircularStdBold';
  src: url('../../fonts/CircularStd-Book.woff2') format('woff2'),
  url('../../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'CircularStdMedium';
  src: url('../../fonts/CircularStd-Medium.woff2') format('woff2'),
  url('../../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd-Book.woff2') format('woff2'),
  url('../../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd-Black.woff2') format('woff2'),
  url('../../fonts/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd-Bold.woff2') format('woff2'),
  url('../../fonts/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CinzelMedium';
  src: url('../../fonts/Cinzel-Medium.woff2') format('woff2'),
  url('../../fonts/Cinzel-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'RazorMedium';
  src: url('../../fonts/Razor.woff2') format('woff2'),
  url('../../fonts/Razor.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Sancreek';
  src: url('../../fonts/Sancreek-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CircularStdBlack';
  src: url('../../fonts/CircularStd-Black.otf') format('opentype');
}