.icon {
line-height: 1;
}

.icon:before {
font-family: turkcell-bulut !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-account {
  content: "\f101";
  }

  .icon-account:before {
  content: "\f101";
  }

  %icon-arrow-list {
  content: "\f102";
  }

  .icon-arrow-list:before {
  content: "\f102";
  }

  %icon-arrow-up {
  content: "\f103";
  }

  .icon-arrow-up:before {
  content: "\f103";
  }

  %icon-back {
  content: "\f104";
  }

  .icon-back:before {
  content: "\f104";
  }

  %icon-calendar {
  content: "\f105";
  }

  .icon-calendar:before {
  content: "\f105";
  }

  %icon-cancel {
  content: "\f106";
  }

  .icon-cancel:before {
  content: "\f106";
  }

  %icon-change {
  content: "\f107";
  }

  .icon-change:before {
  content: "\f107";
  }

  %icon-check {
  content: "\f108";
  }

  .icon-check:before {
  content: "\f108";
  }

  %icon-clear {
  content: "\f109";
  }

  .icon-clear:before {
  content: "\f109";
  }

  %icon-clipboard-add {
  content: "\f10a";
  }

  .icon-clipboard-add:before {
  content: "\f10a";
  }

  %icon-cog {
  content: "\f10b";
  }

  .icon-cog:before {
  content: "\f10b";
  }

  %icon-config {
  content: "\f10c";
  }

  .icon-config:before {
  content: "\f10c";
  }

  %icon-cross {
  content: "\f10d";
  }

  .icon-cross:before {
  content: "\f10d";
  }

  %icon-done {
  content: "\f10e";
  }

  .icon-done:before {
  content: "\f10e";
  }

  %icon-done2 {
  content: "\f10f";
  }

  .icon-done2:before {
  content: "\f10f";
  }

  %icon-download {
  content: "\f110";
  }

  .icon-download:before {
  content: "\f110";
  }

  %icon-download2 {
  content: "\f111";
  }

  .icon-download2:before {
  content: "\f111";
  }

  %icon-drag {
  content: "\f112";
  }

  .icon-drag:before {
  content: "\f112";
  }

  %icon-edit {
  content: "\f113";
  }

  .icon-edit:before {
  content: "\f113";
  }

  %icon-exclamation {
  content: "\f114";
  }

  .icon-exclamation:before {
  content: "\f114";
  }

  %icon-expand {
  content: "\f115";
  }

  .icon-expand:before {
  content: "\f115";
  }

  %icon-eye {
  content: "\f116";
  }

  .icon-eye:before {
  content: "\f116";
  }

  %icon-facebook {
  content: "\f117";
  }

  .icon-facebook:before {
  content: "\f117";
  }

  %icon-increase {
  content: "\f118";
  }

  .icon-increase:before {
  content: "\f118";
  }

  %icon-info {
  content: "\f119";
  }

  .icon-info:before {
  content: "\f119";
  }

  %icon-information {
  content: "\f11a";
  }

  .icon-information:before {
  content: "\f11a";
  }

  %icon-like1 {
  content: "\f11b";
  }

  .icon-like1:before {
  content: "\f11b";
  }

  %icon-like2 {
  content: "\f11c";
  }

  .icon-like2:before {
  content: "\f11c";
  }

  %icon-like3 {
  content: "\f11d";
  }

  .icon-like3:before {
  content: "\f11d";
  }

  %icon-like4 {
  content: "\f11e";
  }

  .icon-like4:before {
  content: "\f11e";
  }

  %icon-like5 {
  content: "\f11f";
  }

  .icon-like5:before {
  content: "\f11f";
  }

  %icon-link {
  content: "\f120";
  }

  .icon-link:before {
  content: "\f120";
  }

  %icon-list {
  content: "\f121";
  }

  .icon-list:before {
  content: "\f121";
  }

  %icon-menu-hamburger {
  content: "\f122";
  }

  .icon-menu-hamburger:before {
  content: "\f122";
  }

  %icon-minus {
  content: "\f123";
  }

  .icon-minus:before {
  content: "\f123";
  }

  %icon-mouse-scroll {
  content: "\f124";
  }

  .icon-mouse-scroll:before {
  content: "\f124";
  }

  %icon-newspaper-alt {
  content: "\f125";
  }

  .icon-newspaper-alt:before {
  content: "\f125";
  }

  %icon-paperclip {
  content: "\f126";
  }

  .icon-paperclip:before {
  content: "\f126";
  }

  %icon-phone {
  content: "\f127";
  }

  .icon-phone:before {
  content: "\f127";
  }

  %icon-play {
  content: "\f128";
  }

  .icon-play:before {
  content: "\f128";
  }

  %icon-plus {
  content: "\f129";
  }

  .icon-plus:before {
  content: "\f129";
  }

  %icon-quote {
  content: "\f12a";
  }

  .icon-quote:before {
  content: "\f12a";
  }

  %icon-refresh {
  content: "\f12b";
  }

  .icon-refresh:before {
  content: "\f12b";
  }

  %icon-remove {
  content: "\f12c";
  }

  .icon-remove:before {
  content: "\f12c";
  }

  %icon-send {
  content: "\f12d";
  }

  .icon-send:before {
  content: "\f12d";
  }

  %icon-shop {
  content: "\f12e";
  }

  .icon-shop:before {
  content: "\f12e";
  }

  %icon-special-alert {
  content: "\f12f";
  }

  .icon-special-alert:before {
  content: "\f12f";
  }

  %icon-special-check {
  content: "\f130";
  }

  .icon-special-check:before {
  content: "\f130";
  }

  %icon-three-point {
  content: "\f131";
  }

  .icon-three-point:before {
  content: "\f131";
  }

  %icon-timer {
  content: "\f132";
  }

  .icon-timer:before {
  content: "\f132";
  }

  %icon-trash {
  content: "\f133";
  }

  .icon-trash:before {
  content: "\f133";
  }

  %icon-trash2 {
  content: "\f134";
  }

  .icon-trash2:before {
  content: "\f134";
  }

  %icon-twitter {
  content: "\f135";
  }

  .icon-twitter:before {
  content: "\f135";
  }

  %icon-unfold {
  content: "\f136";
  }

  .icon-unfold:before {
  content: "\f136";
  }

  %icon-user {
  content: "\f137";
  }

  .icon-user:before {
  content: "\f137";
  }

  %icon-warning {
  content: "\f138";
  }

  .icon-warning:before {
  content: "\f138";
  }

  %icon-youtube {
  content: "\f139";
  }

  .icon-youtube:before {
  content: "\f139";
  }
