.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10001;
  &.type-destroy{
    backdrop-filter: blur(8px);
  }

  &-wrapper {
    position: fixed;
    left: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 13px;
    padding: 13px 15px;
    border-radius: 20px;
    border: solid 1px #4c5055;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(34, 39, 45, 0.5)), linear-gradient(to bottom, #22272d, #22272d);
    box-sizing: border-box;
  }

  &-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 24px;
  }

  &-icon {
    margin-right: 5px;
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &-title {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.46px;
    text-align: center;
    color: #fff;
  }

  &-content {
    font-size: 13px;
    line-height: 1.46;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  &-actions {
    display: flex;
    justify-content: space-around;

    .button {
      font-weight: initial;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
