.winning-animation-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  //background: rgba(208, 2, 2, 0.53);
  z-index: 8;
  pointer-events: none;


  .area {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
    .vip & {
      transform: translate(9px, 17px);
    }


    .chip {
      position: absolute;
      z-index: 2;
      width: 1px;
      height: 1px;

      img {
        width: 26px !important;
        height: auto !important;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 50%;
        animation: shadow 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }


  .flash {
    position: absolute;
    background: linear-gradient(130deg, transparent, transparent, transparent, rgba(255, 250, 240, 0.49), transparent, transparent, transparent);
    background-size: 300% 300%;
    z-index: 999;
    animation: flashAnimation 0.6s alternate;
    animation-iteration-count: 2;

    .vip & {
      transform: translate(9px, 17px);
    }
  }

  @keyframes flashAnimation {
    0% {
      background-position: 10% 0
    }
    100% {
      background-position: 91% 100%
    }
  }

  @keyframes shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.32);
    }
    100% {
      box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.32);
    }
  }

}